<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link id="tab_icon" rel="shortcut icon" href="<%= htmlWebpackPlugin.options.baseUrl %>assets/images/favico.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1.0,user-scalable=0">
    <meta name="theme-color" content="#000000">

    <meta property="og:url"                content="<%= htmlWebpackPlugin.options.webURL %>" />
    <meta property="og:type"               content="article" />
    <meta property="og:image"              content="<%= htmlWebpackPlugin.options.webURL %>assets/images/pdf-validation.jpg" />

    <meta property="og:title" content="კვალიფიციური ელ-ხელმოწერა ID ბარათით, ელ-ხელმოწერის უტყუარობა დოკუმენტში, დოკუმენტების არქივი" />
    <meta property="og:site_name" content="validate.ge" />
    <meta property="og:description" content=" არის თქვენი ელ-ხელმოწერა აუტყუარი? შეამოწმე, მარტივია! გსურთ სწრაფი და სანდო ხელმოწერა? გააკეთე, მარტივია! შემოგვიერთდით იყოს თქვენი ბინესი სწრაფი, პროდუქტიული ნაკლები დანახარჯებით" />


    <meta name="twitter:card" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content=""/>
    <meta name="twitter:image:src" content=""/>
    <meta name="twitter:domain" content="">
    <meta name="twitter:site" content="@aisitec">


    <link rel="manifest" href="<%= htmlWebpackPlugin.options.baseUrl %>assets/manifest.json">
    <title>Qualified Electronic Signature, Document Validation System, Document Archive</title>

    <base href="<%= htmlWebpackPlugin.options.baseUrl %>" />
</head>
<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="react-app"></div>
</body>
</html>
